%main
  %section.col-md-offset-1.col-md-10.box.search-result.row
    .title
      醫師
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫師名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫師名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫師名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫師名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫師名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫師名
  %section.col-md-offset-1.col-md-10.box.search-result.search-result-hospital.row
    .title
      醫院
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫院名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫院名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫院名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫院名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫院名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫院名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫院名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫院名
    .col-md-4.result-list
      .thumbnail
        照片
      .thumbnail-info
        醫院名

