%h1 Editing Doctor
= render 'form'
= link_to '醫師詳情', admin_doctor_path(@doctor,division_id: params[:division_id],hospital_id: params[:hospital_id])
|
= link_to '回科別頁', admin_division_path(params[:division_id],hospital_id: params[:hospital_id])
