.container.breadcrumbs--hierarchy
  .col-sm-12 首頁     &gt; 台中市 &gt; 澄清醫院
%main
  .container-fluid.category
    %aside.col-md-2
      .aside-title
        %span
          澄清醫院
      -@categories.each do |category|
        .aside-list
          =category.name
    .information.col-sm-10
      .information-header
        .thumbnail
          照片
        .information-title
          澄清醫院
          %br>/
          家醫科
          %span 推薦數/評論數/評分
      .information-body.row
        .col-md-6
          .rank-box.row
            .col-md-6
              %p 綜合滿意度: 3.0
              %p 環境衛生： 3.0
              %p 醫療設備： 3.0
              %p 醫護專業： 3.0
              %p 服務態度： 3.0
            .col-md-6
              .star-bar
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
              .star-bar
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
              .star-bar
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
              .star-bar
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
              .star-bar
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
        .col-md-6
          .rank-box.row
            .col-md-6
              %p 綜合滿意度: 3.0
              %p 環境衛生： 3.0
              %p 醫療設備： 3.0
              %p 醫護專業： 3.0
              %p 服務態度： 3.0
            .col-md-6
              .star-bar
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
              .star-bar
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
              .star-bar
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
              .star-bar
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
              .star-bar
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
                .glyphicon.glyphicon-star
    .col-md-10.col-md-offset-2
      .doctor-box.row
        .title
          %span
            科別醫師
        .doctor-list.col-md-4
          .thumbnail
            照片
          .thumbnail-info
            醫師名
            %span
              推薦數/評論數
        .doctor-list.col-md-4
          .thumbnail
            照片
          .thumbnail-info
            醫師名
            %span
              推薦數/評論數
        .doctor-list.col-md-4
          .thumbnail
            照片
          .thumbnail-info
            醫師名
            %span
              推薦數/評論數
        .doctor-list.col-md-4
          .thumbnail
            照片
          .thumbnail-info
            醫師名
            %span
              推薦數/評論數
        .doctor-list.col-md-4
          .thumbnail
            照片
          .thumbnail-info
            醫師名
            %span
              推薦數/評論數
        .doctor-list.col-md-4
          .thumbnail
            照片
          .thumbnail-info
            醫師名
            %span
              推薦數/評論數
    .col-md-10.col-md-offset-2
      .doctor-box.row
        .title
          %span
            科別評論
        .doctor-list.col-md-4
          .comment-box
            %p 評論者: user
            %p 對象： doctor
            %p 科別滿意度： 2.0
            %p 醫師滿意度： 4.0
            %p 科別評論：xxxxxxx
        .doctor-list.col-md-4
          .comment-box
            %p 評論者: user
            %p 對象： doctor
            %p 科別滿意度： 2.0
            %p 醫師滿意度： 4.0
            %p 科別評論：xxxxxxx
        .doctor-list.col-md-4
          .comment-box
            %p 評論者: user
            %p 對象： doctor
            %p 科別滿意度： 2.0
            %p 醫師滿意度： 4.0
            %p 科別評論：xxxxxxx
        .doctor-list.col-md-4
          .comment-box
            %p 評論者: user
            %p 對象： doctor
            %p 科別滿意度： 2.0
            %p 醫師滿意度： 4.0
            %p 科別評論：xxxxxxx
        .doctor-list.col-md-4
          .comment-box
            %p 評論者: user
            %p 對象： doctor
            %p 科別滿意度： 2.0
            %p 醫師滿意度： 4.0
            %p 科別評論：xxxxxxx
        .doctor-list.col-md-4
          .comment-box
            %p 評論者: user
            %p 對象： doctor
            %p 科別滿意度： 2.0
            %p 醫師滿意度： 4.0
            %p 科別評論：xxxxxxx

