.container.breadcrumbs--hierarchy
  .col-sm-12 首頁     &gt; 台中市 &gt; 澄清醫院 &gt; 家醫科
%main
  .container
    %section.col-sm-12.box
      .container
        .information
          .information-header
            .col-md-5
              .thumbnail
                照片
              .information-title
                %span 醫師名
                %span 推薦數/評論數/評分
            .col-md-6.col-md-offset-1
              .rank-box.row
                .col-md-6
                  %p 綜合滿意度: 3.0
                  %p 環境衛生： 3.0
                  %p 醫療設備： 3.0
                .col-md-6
                  .star-bar
                    .glyphicon.glyphicon-star
                    .glyphicon.glyphicon-star
                    .glyphicon.glyphicon-star
                  .star-bar
                    .glyphicon.glyphicon-star
                    .glyphicon.glyphicon-star
                    .glyphicon.glyphicon-star
                  .star-bar
                    .glyphicon.glyphicon-star
                    .glyphicon.glyphicon-star
                    .glyphicon.glyphicon-star
          .information-body.row
            .col-md-6
              .about
                服務醫院
                %br>/
                現演一底的天做？期學這定、片金兒希，心的員起。記老所是中舞教友幾，天無局吃林，自友著有、十上建大境辦立源公紅應香來，著的燈：外別金個開長統。人戰傷你線了今護條親買故總子：專開們道甚的去引生、為著雙歌美提時全你節費友面價。重前夜少雖較北眾，家經服
              .about
                專長
                %br>/
                現演一底的天做？期學這定、片金兒希，心的員起。記老所是中舞教友幾，天無局吃林，自友著有、十上建大境辦立源公紅應香來，著的燈：外別金個開長統。人戰傷你線了今護條親買故總子：專開們道甚的去引生、為著雙歌美提時全你節費友面價。重前夜少雖較北眾，家經服
            .col-md-6.about
              經歷
              %br>/
<<<<<<< 005e9ce44d87d91609781a037d8d339d1c19abdd
<<<<<<< 7c719c9fa7150e917de682e295101c02c73a8254
=======
>>>>>>> View_information_doctor: layout finish
              現演一底的天做？期學這定、片金兒希，心的員起。記老所是中舞教友幾，天無局吃林，自友著有、十上建大境辦立源公紅應香來，著的燈：外別金個開長統。人戰傷你線了今護條親買故總子：專開們道甚的去引生、為著雙歌美提時全你節費友面價。重前夜少雖較北眾，家經服
    %section.row
      .doctor-comment-box.col-md-6
        .title
          醫師推薦評論
        .comment-box
          %p 評論者: user
          %p 對象： doctor
          %p 科別滿意度： 2.0
          %p 醫師滿意度： 4.0
          %p 科別評論：xxxxxxx
        .comment-box
          %p 評論者: user
          %p 對象： doctor
          %p 科別滿意度： 2.0
          %p 醫師滿意度： 4.0
          %p 科別評論：xxxxxxx
        .comment-box
          %p 評論者: user
          %p 對象： doctor
          %p 科別滿意度： 2.0
          %p 醫師滿意度： 4.0
          %p 科別評論：xxxxxxx
      .doctor-comment-box.col-md-6
        .title
          醫師負面評論
        .comment-box
          %p 評論者: user
          %p 對象： doctor
          %p 科別滿意度： 2.0
          %p 醫師滿意度： 4.0
          %p 科別評論：xxxxxxx
        .comment-box
          %p 評論者: user
          %p 對象： doctor
          %p 科別滿意度： 2.0
          %p 醫師滿意度： 4.0
          %p 科別評論：xxxxxxx
        .comment-box
          %p 評論者: user
          %p 對象： doctor
          %p 科別滿意度： 2.0
          %p 醫師滿意度： 4.0
          %p 科別評論：xxxxxxx
    %section.col-md-12.box.doctor
      .title
        台中市家醫科推薦醫師
      .row
        .col-md-6.row
          .title.sub-title
            推薦排行
          .col-md-3.rank
            .rank 1 郭雨文
            .rank 2 陳泰亨
            .rank 3 羅盛典
            .rank 4 李宗翰
            .rank 5 吳權倫
          .col-md-3
            .rank 6 郭雨文
            .rank 7 陳泰亨
            .rank 8 羅盛典
            .rank 9 李宗翰
            .rank 10 吳權倫
        .col-md-6.row
          .title.sub-title
            熱門醫生
          .col-md-3.rank
            .rank 1 郭雨文
            .rank 2 陳泰亨
            .rank 3 羅盛典
            .rank 4 李宗翰
            .rank 5 吳權倫
          .col-md-3
            .rank 6 郭雨文
            .rank 7 陳泰亨
            .rank 8 羅盛典
            .rank 9 李宗翰
            .rank 10 吳權倫
<<<<<<< 005e9ce44d87d91609781a037d8d339d1c19abdd
=======
              現演一底的天做？期學這定、片金兒希，心的員起。記老所是中舞教友幾，天無局吃林，自友著有、十上建大境辦立源公紅應香來，著的燈：外別金個開長統。人戰傷你線了今護條親買故總子：專開們道甚的去引生、為著雙歌美提時全你節費友面價。重前夜少雖較北眾，家經服
>>>>>>> View: doctor information box
=======
>>>>>>> View_information_doctor: layout finish
