<p id="notice"><%= notice %></p>

<h1>Listing Feedbacks</h1>

<table>
  <thead>
    <tr>
      <th>主旨</th>
      <th>意見</th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.subject %></td>
        <td><%= feedback.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>