.comment-lists{
  .comment-lists-title {
    border-bottom: solid 2px orange;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 8px;
  }
  .comment-lists-chevron{
    text-align: center;
    li.glyphicon{
      position: relative;
      top: 230px;
    }
  }
  .comment-lists-paginate{
    text-align: center;
    .pagination > li a{
      border-radius: 50%;
      margin: 0 2px;
    }
    .current{
      background-color: #8ad636;
    }
  }
  .comment-lists-content{
    margin:20px auto;
    .comment-lists-comment{
      display: block;
      height: 130px;
      border: solid 1px #b1b1b1;
      margin:20px auto;
      padding: 10px 0;
      .comment-lists-rank{
        color: grey;
      }
      .comment-lists-comment-content{
        color: #b1b1b1;
      }
      .comment-lists-comment-content:first-line{
        line-height: 30px;
      }
    }
  }
}
