.icons{
  .icon{
    display: inline-block;
    .glyphicon:before{
      display: block;
      margin: 20px 0;
      color: #4a4a4a;
      font-size: 20px;
    }
  }
  .icon-content{
    margin-left: 20px;
    display: inline-block;
    vertical-align:top;
    .icon-content-title{
      font-size: 18px;
      color: #000;
    }
    .icon-content-num{
      width: 50px;
      display: inline-block;
      li{
        display: inline-block;
        font-size: 12px;
        color: #4a4a4a;
      }
    }
    .icon-content-info{
      font-size: 14px;
      color: #000;
      line-height:20px;
    }
  }
}

.col-md-6{
  .icons{
    margin: 20px 0;
    .icon-content > .icon-content-num{
      .glyphicon-thumbs-up{
        color: #f5a623;
      }
      .glyphicon-comment{
        color: #32b9cb;
      }
      .glyphicon-star{
        color: #f8e71c;
      }
    }
  }
}
