.information-boxes{
  border: solid 2px #7055a1;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 20px;
  .information-boxes-title{
    font-size: 15px;
    color: #329834;
    margin-bottom: 30px;
    .information-boxes-title-content{
      margin: 30px 10px;
      .icons{
        .icon-content-subtitle > a{
          color: #ffa726;
        }
      }
    }
  }
  .information-boxes-content{
    margin: 0;
    padding: 30px 0;
    border-top: solid 1px #7055a1;
    .top-right-corner{
      width: 66px;
      position: absolute;
      right: 30px;
      top: 220px;
      li:before{
        color: #329834;
      }
    }
    .rating-box{
      span.stars{
        margin-left: 10px;
      }
      span.stars, span.stars span {
        display: inline-block;
        background: image-url('stars.png') 0 -16px repeat-x;
        width: 80px;
        height: 16px;
      }

      span.stars span {
        background-position: 0 0;
      }
      .rating-box-title{
        position: relative;
        left: -15px;
        font-size: 15px;
        color: #329834;
        margin-bottom: 15px;
      }
      .rating-box-lists{
        .rating-box-list{
          margin-bottom: 15px;
        }
      }
    }
    .information-boxes-contact{
      margin-bottom: 10px;
      .icon-content{
        line-height: 30px;
        vertical-align: top;
        width: 190px;
        .icon-content-title {
          font-size: 12px;
          color: #4a4a4a;
        }
      }
    }
    .image-map{
      width: 280px;
      height: 190px;
      overflow: hidden;
    }
    .info-text{
      font-size: 14px;
      margin-bottom: 25px;
    }
    .info-textarea:first-line{
      font-size: 12px;
      line-height: 50px;
      p{
        line-height: 20px;
      }
    }

  }
}