.box{
 padding: 0 10px;
}

body{
  font-size: $base-font-size;
  font-family: 'Noto Sans TC', $base-font-family;
  a{
    color: #000;
  }
}

header{
  background-color: #f2f2f2;
  margin-bottom: 15px;
  height: 85px;
}

.header{
  width: 960px;
  margin: 0 auto;
}

.main{
  width: 960px;
  margin: 0 auto;
}

.aside{
  background-color: #e9e9e9;
  mini-height: 800px;
  height: auto;
  .aside-title{
    margin: 0 10px;
    color: #66b068;
    border-bottom: solid 2px #75ce14;
    padding: 8px 0px;
    font-size: 1.1em;
  }
  .aside-chevron{
    float: right;
    top: -25px;
    left: -8px;
  }
  .aside-content{
    width: 80%;
    margin: 15px auto;
    .aside-list {
      padding: 3% 1%;
      text-align: center
    }
  }
}

