.logos{
  font-size: 32px;
  margin-left: 21.6px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 200px;
  .logo-mark{
    vertical-align:middle;
    display: inline-block;
  }
  .logo-desc{
    font-size: 10px;
    position: relative;
    left: 55px;
    top: -13px;
    width: 140px;
  }
  .logo-name{
    display: inline-block;
  }
}

