.logos{
  font-size: 2.5em;
  margin-bottom: 10px;
  width: 200px;
  .logo-mark{
    vertical-align:middle;
  }
  .logo-desc{
    display: block;
    font-size: 0.3em;
    position: relative;
    left: 48px;
    width: 140px;
  }
}