.recommend-lists{
  margin-bottom: 50px;
  width: 96%;
  .recommend-lists-title{
    color: #808080;
    border-bottom: solid 2px #75ce14;
    padding: 8px 0px;
    font-size: 1.1em;
    position: relative;
    :first-child{
      color: #66b068;
    }
    :last-child{
      color: #000;
    }
    .recommend-lists-tag{
      display: inline-block;
      margin-right: 10px;
    }
    .recommend-lists-more{
      display: inline-block;
      position: absolute;
      right: 0px;
    }
  }
  .recommend-lists-content{
    width: 100%;
    margin: 20px auto;
    .recommend-lists-ranknum{
      vertical-align: top;
      font-size: 2em;
      color: #66b068;
      display: inline-block;
    }
    .recommend-lists-list{
      width: 230px;
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 10px;
      min-height: 50px;
      li{
        display: block;
      }
    }
  }
}

.recommend-doctors{
  .recommend-lists-title{
    border-bottom: solid 2px #f76489;
    :first-child{
      color: #f76489;
    }
  }
  .recommend-lists-content{
    .recommend-lists-ranknum{
      color: #f76489;
    }
  }

}