/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-size: 14px;
  font-family: "Arial Black";
}

header{
  margin-bottom: 40px;

  .box{
    padding: 10px 10px;
    height: 100px;
    .logo{
      font-size: 2.5em;
    }
    .logo-mark{
      font-size: 2.5em;
      padding-right: 20px;
      vertical-align:text-bottom;
    }
    .logo-desc{
      display: block;
      font-size: 0.8em;
      position: relative;
      left: 35px;
    }
    .search-icon{
      position:relative;
      left:27px;
      z-index:999;
    }
    .search{
      width: 70%;
      margin-top: 20px;
      border-radius: 10px;
      padding-left: 25px;
    }
  }
}

.breadcrumbs--hierarchy{
  margin: 20px auto;
  font-size: 1.5em;
}

.box{
  text-align: center;
  margin-bottom: 40px;
}

.title{
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.rank{
  text-align: left;
}



.area-tag{
  text-align: left;
  border: solid 1px black;
  position: relative;
  top:20px;
}

.hospital-list{
  border: solid 1px black;
  padding: 30px 30px;
}

main{
  .division, .area{
    .title{
      width:30%;
    }
  }

  .area .hospital-list{
    position: relative;
    left:-15px;
    text-align: left;
    height:505px;
    .title{
      width: auto;
    }
    .list{
      margin-bottom: 10px;
    }
  }
  .division, .area, .doctor, .hospital, .comment{
    height: auto;
  }
  .sub-title{
    width: 60%;
    margin-bottom: 10px;
  }
  .comment-box{
    width: 90%;
    border: solid 1px black;
    margin: 10px auto;
    height:200px;
    text-align: left;
    padding: 10px 10px;
  }
}
