// Modules and Variables
@import "partials/base";

// Partials
@import "partials/layout";
@import "partials/logos";
@import "partials/search-bars";
@import "partials/recommend-lists";
@import "partials/comment-lists";
@import "partials/breadcrumbs";
@import "partials/search-area";
// Third-party

.breadcrumbs--hierarchy{
  margin: 50px auto;
  font-size: 1.5em;
}

.title{
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.rank{
  text-align: left;
  line-height: 30px;
}



.area-tag{
  text-align: left;
  border: solid 1px black;
  position: relative;
  top:20px;
}

.hospital-list{
  border: solid 1px black;
  padding: 30px 30px;
}

main{
  .thumbnail{
    border-radius: 50%;
    border: solid 1px black;
    width: 100px;
    height: 100px;
  }
  .division, .area{
    .title{
      width:30%;
    }
  }
  .information{
    border: solid 1px black;
    .information-header {
      border-bottom: solid 1px black;
      padding: 40px;
      text-align: left;
      overflow: auto;
      .thumbnail {
        display: inline-block;
        float: left;
        text-align: center;
        line-height: 90px;
        margin-bottom: 0px;
      }
      .information-title {
        display: inline-block;
        height: 100px;
        :first-child{
          font-size: 2em;
          text-decoration: underline;
        }
        span{
          display: block;
          margin: 10px 20px;
          font-size: 1.2em;
          text-decoration: none;
        }
      }
      .rank-box {
        border: solid 1px black;
        height: 100px;
        text-align: left;
        padding: 10px 10px;
        width: 80%;
        .star-bar {
          margin-bottom: 10px;
        }
        .star-bar:before {
          margin-bottom: 10px;
          font-size: 1.1em;
          margin-left: 30px;
          font-size: 2em;
          text-decoration: underline;
          span {
            display: inline-block;
            margin: 20px 50px;
            font-size: 0.8em;
            text-decoration: none;
          }
        }
      }
    }
    .information-body{
      text-align: left;
      padding: 30px;
      .image{
        overflow: hidden;
      }
      .about{
        padding: 10px 20px;
      }
      .about:first-line{
        font-size: 1.5em;
        line-height: 50px;
      }
    }
  }
  .area .hospital-list{
    position: relative;
    left:-15px;
    text-align: left;
    height:505px;
    .title{
      width: auto;
    }
    .list{
      margin-bottom: 10px;
    }
  }
  .division, .area, .doctor, .hospital, .comment{
    height: auto;
  }
  .sub-title{
    width: 150px;
    margin-bottom: 10px;
  }
  .comment-box{
    width: 90%;
    border: solid 1px black;
    margin: 10px auto;
    height:200px;
    text-align: left;
    padding: 10px 10px;
  }
  aside {
    .aside-title span {
      font-size: 1.5em;
      text-decoration: underline;
    }
  }
  .category {
    .information{
      .information-header{
        padding: 10px 20px;
        border-bottom: none;
      }
      .information-body{
        .rank-box{
          border: solid 1px black;
          height:200px;
          text-align: left;
          padding: 10px 10px;
          width: 80%;
          .star-bar{
            margin-bottom: 10px;
          }
          .star-bar:before{
            margin-bottom: 10px;
            font-size: 1.1em;
          }
        }
      }
    }
    .doctor-box{
      .title{
        border: none;
        width: 700px;
        height: 70px;
        margin:20px auto;
        text-align: center;
        line-height: 70px;
        border-radius: 0;
        background-color: darkseagreen;
        color: #fff;
        span{
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
          font-size: 1.5em;
        }
      }
      .doctor-list{
        .thumbnail{
          display: inline-block;
          float: left;
          text-align: center;
          line-height: 50px;
          width: 60px;
          height: 60px;
        }
        .thumbnail-info {
          display: inline-block;
          text-align: left;
          height: 100px;
          margin-left: 30px;
          font-size: 1.8em;
          span{
            display: block;
            margin: 10px 0;
            font-size: 0.6em;
          }
        }
      }
    }
  }
  .doctor-comment-box{
    padding: 20px 40px;
    .title{
      margin: 20px auto;
      border: none;
      border-radius: 0px;
      width:90%;
      background-color: darkseagreen;
      color: #fff;
      font-size: 1.8em;
      padding: 20px 50px;
      text-align: center;
    }
    .comment-box{
      width: 95%;
      min-height: 150px;
      height: auto;
    }
  }
  .search-result{
    .title{
      border: solid 2px black;
      border-radius: 0px;
      padding: 5px 10px;
      text-align: left;
      font-size: 1.8em;
    }
    .result-list{
      text-align: left;
      .thumbnail{
        line-height: 100px;
        display: inline-block;
        text-align: center;
      }
      .thumbnail-info {
        display: inline-block;
        text-align: left;
        height: 100px;
        margin-left: 30px;
        font-size: 1.8em;
      }
    }
  }
  .search-result-hospital{
    .title{
      margin-bottom: 50px;
    }
  }
  .comment{
    .comment-box{
      width:80%;
      height:auto;
      span{

      }
    }
  }
  .comment-aside{
    .comment-aside-title{
      text-align: center;
      font-size: 1.3em;
    }
    .comment-box{
      height: auto;
    }
  }
}